{% extends "base.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="css/exception.css" type="text/css" media="all" />
{% endblock stylesheets %}

{% block body %}
<h1>Erreur 404 ! </h1>

<a href="/">retourner à l'accueil</a>
{% endblock %}
